html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #065706;
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.hidden {
  display: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 100px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  background-color: #393e46;
  padding: 10px;
  border: 2px solid #393e46;
  border-radius: 100px;
}

.sectonsBtn {
  background-color: #393e46;
  color: white;
  border: none;
  font-size: 1.2rem;
  position: relative;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.sectonsBtn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: 0.3s;
}

.sectonsBtn:hover {
  cursor: pointer;
}

.sectonsBtn:hover::after {
  background: #39ff14;
  box-shadow:
    0 0 5px #39ff14,
    0 0 10px #39ff14,
    0 0 20px #39ff14;
}

main {
  color: white;
  flex: 1;
  margin-top: 100px;
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 200px;
}

.sectons h2 {
  font-size: 2rem;
  border-left: white solid 2px;
}

.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 1em;
}

.aboutme-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.aboutMe a {
  color: blue;
}

.aboutMe a:hover {
  color: white;
}

.aboutme-txt h2 {
  font-size: 2rem;
  border-left: white solid 2px;
}

.aboutme-txt h3 {
  font-size: 3rem;
}

.aboutme-txt h4 {
  font-size: 1.6rem;
}

.aboutme-txt p {
  font-size: 1.2rem;
}

.profile-picture {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center 20%;
  border-radius: 50%;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 6em;
  margin-top: 180px;
  margin-bottom: 180px;
}

.techno-images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.techno-images img {
  height: 100px;
  width: 100px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.courses a {
  color: blue;
}

.courses a:hover {
  color: white;
}

#linkedin {
  color: rgb(32, 130, 251);
}

#linkedin:hover {
  color: white;
}

#github {
  color: orangered;
}

#github:hover {
  color: white;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1.2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  text-align: center;
}

.display-projects {
  text-align: left;
}

.display-projects a {
  color: blue;
}

.display-projects a:hover {
  color: white;
}

#keepLaterIMG {
  max-height: 600px;
  max-width: 600px;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4a515b;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  max-width: 600px;
}

.projects button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.white-smoke {
  color: rgb(220, 220, 220);
  font-weight: bold;
}
.neonGreen {
  color: #39ff14;
  font-weight: bold;
}

.blue {
  color: rgb(43, 43, 254);
  font-weight: bold;
}

.cadetBlue {
  color: cadetblue;
  font-weight: bold;
}

.green {
  color: rgb(1, 219, 1);
  font-weight: bold;
}

.black {
  color: rgb(2, 2, 2);
  font-weight: bold;
}

.orange {
  color: tomato;
  font-weight: bold;
}

.red {
  color: rgb(216, 0, 0);
}

#aboutMe {
  scroll-margin-top: 100px;
}

#contact {
  scroll-margin-top: 100px;
}

#skills {
  scroll-margin-top: 100px;
}

#experience {
  scroll-margin-top: 100px;
}

#education {
  scroll-margin-top: 100px;
}

#projects {
  scroll-margin-top: 100px;
}
